@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.all-settings{
  display: flex;
  transform: translateY(0);
  transition: all .3s ease;
}

.all-settings.hide{
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .3s ease;
}


.right-container{
  display: flex;
  justify-content: space-between;
  z-index: 3;
}


.modul{
  padding-top: 10px;
  text-align: left;
  position: relative;
  z-index: 3;
}

.setting-menu{
  background-color: #0606067f;
  margin-top: 5px;
  padding: 10px 20px;
  height: 260px;
  width: 170px;
}

.lang{
  display: flex;
  justify-content: space-between;
}

.settings-point {
  text-decoration: underline;
  margin-bottom: 8px;
  margin-top: 15px;
  margin-left: 0px;
  text-align: start;
}

.switch {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  background-color: #000000;

  width: 50px;
  height: 30px;
}

.sources{
  display: block;
}

.source-point{
  text-align: left;
  padding-top: 4px;
}

.header .button{
  margin-top: 8px;
  padding-top: 0px;
  width: 100px;
  background-color: #fff;
  border-radius: 4px;
  height: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.tag{
  max-width: 100px;
  border-radius: 2px;
  border: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 6px;
  -webkit-transition: .4s;
  transition: .4s;
}

.lang-checkbox{
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  top: 5px;
  bottom: 4px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(22px);
}

.settings-img{
  margin-top: 5px;
  margin-left: 250px;
  width: 22px;
  height: 30px;
  cursor: pointer;
  transition: all 1s;
}

.settings-img.active{
  margin-top: 5px;
  width: 22px;
  height: 30px;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all 1s;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin-bottom: 28px;
}

.player{
  width: 216px;
  transform: translateX(0);
  transition: all .3s ease;
}

.player.hide{
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10px);
  transition: all .3s ease;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content:url("../assets/svg/play-item.svg");  
  position: absolute;
  left: 8px;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #212121;
  content:url("../assets/svg/play-item-active.svg");  
}
.item-active.pause-item::before {
  color: #212121;
  content:url("../assets/svg/pause-item-active.svg");  
}
.item-active{
  color: #212121;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: auto;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.sound {
  background-image: url("../assets/svg/charm_sound-up.svg");
}

.track{
  text-align: start;
  padding-right: 5px;
}

.track-play{
  display: flex;
  }

.volume.progress-container{
  height: 5px;
width: 50px;
margin-top: auto;
margin-bottom: auto;
}

.volume.progress-bar{
height: 5px;
width: 0%;
margin-top: auto;
margin-bottom: auto;
}

.bar-container{
display: flex;
margin-top: 10px;
}

.audio-time{
  padding-left: 10px
}

.progress-container{
  margin-top: 6px;
  margin-bottom: 20px;
  background-color: #939292;
  border-radius: 5px;
  width: 130px;
  height: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.progress-bar{
  background-color: #383838;
  border-radius: 5px;
  width: 0%;
  height: 7px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  max-height: 200px;
  text-align: left;
  margin-left: 10px;
  right: 0;
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
  transition: all .3s ease;

}

.weather.hide{
  visibility: hidden;
  opacity: 0;
  transform: translateX(+10px);
  transition: all .3s ease;
}

.weather-description{
  line-height: 30px;
}

.temperature{
  padding-bottom: 5px;
  padding-top: 12px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
  padding-top: 7px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
  transform: translateY(0);
  transition: all .3s ease;
}
.time.hide {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .3s ease;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  visibility: visible;
  opacity: 1;
  transition: all .3s ease;
}

.date.hide{
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: all .3s ease;
}

.greeting-container.hide{
  visibility: hidden;
  opacity: 0;
  transform: translateY(+10px);
  transition: all .3s ease;
}
.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 0 20px;
}

.quotes{
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
  transition: all .3s ease;

}

.quotes.hide{
  visibility: hidden;
  opacity: 0;
  transform: translateY(+10px);
  transition: all .3s ease;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.footer-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  height: auto;
}
.footer-info p{
  margin-right: 50px;
  vertical-align: middle;
  line-height: 50px;
}

.footer-info a{
  vertical-align: middle;
  line-height: 50px;
}

.rs_school{
  width: 100px;
  height: 50px;
}

.left-container{
  display: flex;
}

.todo-list{
  margin-left: 70px;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  text-decoration: underline;
  height: auto;
}

.to-do-list{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all .3s ease;
}
.to-do-list.hide{
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .3s ease;
}

.todo-task{
  margin-left: 70px;
  background: center/cover, rgba(0, 0, 0, 0.5);
  padding: 0px 20px 0px 20px;
  width: 350px;
  max-height: 200px;
  min-height: auto;
  text-align: start;
  overflow: auto; 
}

.input-task{
  margin-left: 70px;
  background: center/cover, rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  width: 350px;
}
.todo-list-block{
padding-bottom: 10px;
}

.input-task .button{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
  
  position: relative;
  z-index: 3;
  padding-top: 0px;
  width: 70px;
  height: 20px;
}

.task{
  width: 230px;
  height: 20px;
  border-radius: 2px;
  border: none;
}

.task-list{
  list-style-type : none;
}

.list-point{
  display: flex;
  background-color: #00000053;
  width: auto;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.task-list li p{
margin: auto 10px auto 10px;

width: 240px;
}

.list-point img{
  cursor: pointer;
}

.done{
  color: #a3a3a3;
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}